.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.showMore {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

.showMore p {
    color: blue;
    position: absolute;
    right: 7rem;
    transform: translateY(-3rem);
}

.showMore p:hover {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
}