html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.showMore {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

.showMore p {
  color: blue;
  position: absolute;
  right: 7rem;
  transform: translateY(-3rem);
}

.showMore p:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.Post {
  width: 251px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.Post:hover,
.Post:active {
  background-color: #C0DDF5;
}

.Author {
  margin: 16px 0;
  color: #ccc;
}

.NewPost {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
}

.NewPost label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}

.NewPost button {
  margin: 5px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #fa923f;
  background-color: transparent;
  color: #fa923f;
  cursor: pointer;
}

.NewPost button:hover,
.NewPost button:active {
  color: white;
  background-color: #fa923f;
}

.FullPost {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
}

.Edit label {
  display: block;
  color: grey;
}

.Edit button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
  color: #521751;
}

.Edit button.Delete {
  color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
  color: darkred;
}

/* CSS for the loading component */
.loadingParentClass {
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.lds-ellipsis div {
  position: absolute;
  margin-left: -20px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: blue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 16px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 64px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 112px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(48px, 0);
  }
}

.disabledButton {
  cursor: pointer;
}

.disabledButton:disabled {
  cursor: not-allowed;
  color: red;
}

.disabledButton:disabled:hover {
  background-color: white;
  color: black;
}

.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Blog li {
  display: inline-block;
  margin: 20px;
}

.Blog a {
  text-decoration: none;
  color: black;
  transition: all 250ms ease;
  padding-bottom: 2px;
  border-bottom: 3px solid #000000
}

.Blog a:hover {
  color: #FA923F;
  transition: all 250ms ease;
  padding-bottom: 5px;
  border-bottom: 5px solid #FA923F;
  font-weight: 700;
}

/* Blog CSS for active route styling */
.Blog .active {
  color: #FA923F;
  padding-bottom: 6px;
  border-bottom: 5px solid #FA923F;
  font-weight: 700;
}

/* Page not found CSS */
.left-section .inner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0C0E10, #446182);
}

.background .ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background: #0C0E10;
}

@media (max-width: 770px) {
  .background .ground {
    height: 0vh;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 100vh;
  padding-bottom: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 770px) {
  .container {
    flex-direction: column;
    padding-bottom: 0vh;
  }
}

.left-section,
.right-section {
  position: relative;
}

.left-section {
  width: 40%;
}

@media (max-width: 770px) {
  .left-section {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 770px) {
  .left-section .inner-content {
    position: relative;
    padding: 1rem 0;
  }
}

.heading {
  text-align: center;
  font-size: 9em;
  line-height: 1.3em;
  margin: 2rem 0 0.5rem 0;
  padding: 0;
  text-shadow: 0 0 1rem #fefefe;
}

@media (max-width: 770px) {
  .heading {
    font-size: 7em;
    line-height: 1.15;
    margin: 0;
  }
}

.subheading {
  text-align: center;
  max-width: 480px;
  font-size: 1.5em;
  line-height: 1.15em;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (max-width: 770px) {
  .subheading {
    font-size: 1.3em;
    line-height: 1.15;
    max-width: 100%;
  }
}

.right-section {
  width: 50%;
}

@media (max-width: 770px) {
  .right-section {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
  }
}

.svgimg {
  position: absolute;
  bottom: 0;
  padding-top: 10vh;
  padding-left: 1vh;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 770px) {
  .svgimg {
    padding: 0;
  }
}

.svgimg .bench-legs {
  fill: #0C0E10;
}

.svgimg .top-bench,
.svgimg .bottom-bench {
  stroke: #0C0E10;
  stroke-width: 1px;
  fill: #5B3E2B;
}

.svgimg .bottom-bench path:nth-child(1) {
  fill: #432d20;
}

.svgimg .lamp-details {
  fill: #202425;
}

.svgimg .lamp-accent {
  fill: #2c3133;
}

.svgimg .lamp-bottom {
  fill: linear-gradient(#202425, #0C0E10);
}

.svgimg .lamp-light {
  fill: #EFEFEF;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1rem #fefefe;
  }

  50% {
    text-shadow: 0 0 1.85rem #ededed;
  }

  100% {
    text-shadow: 0 0 1rem #fefefe;
  }
}

/* Not Found Button CSS*/
.OuterNotFoundButton {
  display: flex;
  justify-content: center;
}

.NotFoundButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255) !important;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
  padding-bottom: 9.6px !important;
}

.NotFoundButton:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-NotFoundButton 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-NotFoundButton {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.NotFoundButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.Posts a {
  border-bottom: none;
}